@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.main-div {
  width: 100vmax;
  height: 100vh;
  /* background-image: linear-gradient(to right, rgba(187, 255, 0, 0), rgb(240, 255, 70)); */
  background-image: linear-gradient(to right, red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  position: absolute;
  right: 280px;
  bottom: 340px;
}
.title {
  position: absolute;
  right: 160px;
  bottom: 240px;
  font-size: 60px;
  font-weight: bolder;
  color: black;
  font-family: "Frijole", cursive;
}

.t:hover {
  transform: scale(1.1);
}
.title:hover {
  transform: scale(1.1);
}

.start {
  margin-left: 150px;
  margin-top: 40px;
  height: fit-content;
  width: fit-content;
  background-color: yellow;
  border-radius: 50px;
  padding: 15px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 5px 10px 10px rgb(131, 88, 2);
}
.start:hover {
  transform: scale(1.2);
}
